<h1> <%= @game.player_1.name %> vs. <%= @game.player_2.name %> </h1>
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %> HP
<br>
<%= @game.player_1.name %> attacked <%= @game.player_2.name %>
<form action='/play' method='get'>
  <input type='submit' name='OK'>
</form>